#home-container {
	font-family: 'Raleway', sans-serif;
	
	.slider-container {
		width: 100%;
		height: 100vh;
		.slick-slider {
			.slick-image {
				width: 100%;
				height: 100vh;
			}

			.slider-content {
				position: absolute;
				bottom: 45%;
				width: 100%;
				
				h1 {
					font-size: 45px;
					color: #FFFFFF;
					font-weight: 200;
					text-transform: uppercase;
					margin-bottom: 25px;
				}

				a {
					font-size: 25px;
					font-weight: 300;
					color: $highlight;
					padding: 10px 25px;
					border-radius: 14px;
					transition: all linear 0.2s;
					border: 2px solid $highlight;
					background-color: transparent;
					
					&:hover, &:focus, &:active {
						color: #f2f2f2;
						background-color: $highlight;
						border: 2px solid transparent;
						text-decoration: none;
					}
				}
			}

			.slick-dots {
				bottom: 0px;
				
				li {
					button {
						&:before {
							color: #fff;
							font-size: 10px;
						}
					}

					&.slick-active {
						button{
							&:before {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.offer, .brands, .explore {
		padding: 20px 0px;
	}

	.offer {
		color: #f2f2f2;
		font-size: 16px;
		width: 100%;
		background: url('../build/images/tire-pattern.png') repeat;
		
		section{
			header {
				center {
					.heading {
						margin-bottom: 15px;
						h2 {
							color: #fff;
							font-weight: 300;
							text-transform: uppercase;
							margin-bottom: 0px;
						}
						.underline {
							height: 2px;
							width: 45px;
							background-color: $highlight;
							display: inline-block;
							content: '';
							margin: 0 10px;
						}
					}
				}
			}
			img.cytech {
				margin-top:30px;
			}
			a.highlight {
				color: $highlight;
			}

			p.shout {
				font-size: 30px;
				font-weight: 200;
				
				span.free {
					font-size: 40px;
					color: $highlight;
					text-transform: uppercase;
				}
			}

			a.email {
				font-size: 25px;
				font-weight: 300;
				padding: 10px 25px;
				border-radius: 14px;
				transition: all linear 0.2s;
				color: $highlight;
				border: 2px solid $highlight;
				background-color: transparent;
				text-transform: uppercase;
				width: 100%;
				margin: 15px 0px;
				display: block;
				
				&:hover, &:focus, &:active {
					color: #f2f2f2;
					background-color: $highlight;
					border: 2px solid transparent;
					text-decoration: none;
				}
			}
		}
	}

	.brands {
		.brands-background {
			background: url('../build/images/Wolfe-Cycles-Bike-Roads.jpg');
			width: 100%;
			background-attachment: fixed;
		    background-position: 50% 0;
		    background-repeat: no-repeat;
		    height: 450px;
		    position: relative;
		}
	}

	.brands, .explore {
		background-color: #f2f2f2;
		color: #303030;
		font-size: 16px;
		
		section{
			header {
				center {
					.heading {
						margin-bottom: 15px;
						h2 {
							color: #303030;
							font-weight: 300;
							text-transform: uppercase;
							margin-bottom: 0px;
						}
						.underline {
							height: 2px;
							width: 45px;
							background-color: $highlight;
							display: inline-block;
							content: '';
							margin: 0 10px;
						}
					}
				}
			}

			.embed-container { 
				position: relative; 
				padding-bottom: 56.25%; 
				height: 0; 
				overflow: hidden; 
				max-width: 100%;
				
				iframe,  object, embed { 
					position: absolute; 
					top: 0; 
					left: 0; 
					width: 100%; 
					height: 100%; 
				}
			}
		}
	}
}