header {
	font-family: 'Raleway', sans-serif;
	.navbar {
		border: 0px solid;
		background-color: rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
		
		.navbar-header {
			.navbar-icon {
				margin-top: 30px;
			}

			#nav-toggle {

				.active {
					span {
						background-color: transparent;
						
						&:before, &:after {
							transform-origin: center;
							transform: rotate(-45deg);
							top: 0;
						}

						&:before {
							transform: rotate(45deg);
						}
					}
				}

				span {
					border-radius: 1px;
					height: 2px;
					width: 30px;
					background: #0e7ec1;
					position: absolute;
					display: block;
					content: '';
					transition: all 0.2s ease-in-out;
					
					&:before {
						border-radius: 1px;
						height: 2px;
						width: 30px;
						background: #0e7ec1;
						position: absolute;
						display: block;
						content: '';
						transition: all 0.2s ease-in-out;
						top: -7px;
					}

					&:after {
						border-radius: 1px;
						height: 2px;
						width: 30px;
						background: #0e7ec1;
						position: absolute;
						display: block;
						content: '';
						transition: all 0.2s ease-in-out;
						bottom: -7px;
					}
				}
			}

			.navbar-brand {
				height: 80px;
				background-color: rgba(255, 255, 255, 0.8);
				margin-left: 0px;
			}			
		}

		.navbar-collapse {
			ul.nav {
				li {
					height: 80px;
					a {
						line-height: 46px;
					    font-size: 16px;
					    text-transform: uppercase;
					    color: #606061;
					    letter-spacing: 1px;
					    font-weight: 400;
					    height: 100%;

					    &.active, &:hover, &:focus {
					    	background-color: $highlight;
					    	color: #FFFFFF;	
					    }
					}
				}

				li a.active {
					.arrow-down {
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid $highlight;
						font-size: 0;
						bottom: -10px;
						position: absolute;
						left: calc(50% - 10px);
					}
				}
			}
			.navbar-right {
				margin-right: 0px;
			}
		}
	}
}