<div id="home-container">
	<div class="slider-container">
		<slick settings="slickConfig" ng-if="imagesLoaded">
			<div ng-repeat="image in slideImages track by $index">
				<!-- <div class="overlay"></div> -->
				<img ng-src="{{image.src}}" class="slick-image">
				<center class="slider-content">
					<h1>{{image.title}}</h1>
					<a href="{{image.link}}">{{image.linkText}}</a>
				</center>
			</div>
		</slick>
	</div>
	<div class="offer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<section class="what-we-offer">
						<header>
							<center>
								<div class="heading">
									<h2 class="section-title">What we offer</h2>
									<span class="underline"></span>
									<span class="underline"></span>
									<span class="underline"></span>
								</div>
								<p class="section-subtitle">Wolfe Cycles have been in business for over 30 years serving the cycling public and we have extensive experience in providing the most suitable productsto the individuals's needs.</p>
							</center>
						</header>
						<div class="col-md-offset-2 col-md-4 col-sm-12 col-xs-12">
							<center><img src="build/images/wolfe-cycles-cytech-acredited-logo.png" alt="Cyctech Acredited" class="cytech img-responsive"></center>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<p>We are a <a href="http://www.cytech.training/" target="_blank" class="highlight">Cytech</a>  accredited shop. We have a fully equipped workshop employing fully trained, professional bike mechanics.</p>
							<p>With a passion for providing excellent customer service, Wolfe Cycles has secured loyal, strong and long lasting relationships with these cyclists.</p>
						</div>
						<div class="col-xs-12">
							<p class="shout">We offer <span class="free">free</span> realistic estimates on all repairs. Loan bikes can also be made available to assist customers.</p>
						</div>
						<div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
							<center>
								<a href="mailto:someone@example.com?Subject=Hello%20again" target="_blank" class="email">Get in touch</a>
							</center>
						</div>
					</section>		
				</div>
			</div>
		</div>
	</div>
	<div class="brands">
		<div class="brands-background">
			<div class="brands-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<section>
								<header>
									<center>
										<div class="heading">
											<h2 class="section-title">Featured Brands</h2>
											<span class="underline"></span>
											<span class="underline"></span>
											<span class="underline"></span>
										</div>
									</center>
								</header>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="brand"><center><img src="build/images/wolfe-cycles-marin-logo.png" alt="Wolfe Cycles - Marin Bikes"></center></div>
			<div class="brand"><center><img src="build/images/wolfe-cycles-trek-logo.png" alt="Wolfe Cycles - Trek Bikes"></center></div>
			<div class="brand"><center><img src="build/images/wolfe-cycles-giant-logo.png"alt="Wolfe Cycles - Giant Bikes"></center></div>
			<div class="brand"><center><img src="build/images/wolfe-cycles-pashley-logo.png" alt="Wolfe Cycles - Pashley Bikes"></center></div>
			<div class="brand hidden-sm hidden-xs"><center><img src="build/images/wolfe-cycles-bh-logo.png" alt="Wolfe Cycles - BH Bikes"></center></div>
		</div>
	</div>
	<div class="explore">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<section>
						<header>
							<center>
								<div class="heading">
									<h2 class="section-title">Explore the Shop</h2>
									<span class="underline"></span>
									<span class="underline"></span>
									<span class="underline"></span>
								</div>
							</center>
						</header>
						<div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sie!4v1454016602826!6m8!1m7!1sQTg79QQscDIAAAQuhbIArA!2m2!1d53.32041230797051!2d-6.291826459832351!3f1.96!4f0!5f0.7820865974627469' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>